<!DOCTYPE html>
<html>
<head>
  <title>Note</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "shreya.css" %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="color:#FFF5BD;">

<div class="font">
<% if current_user and current_user.posts.count > 0 %>
<h1 style="text-align:center;">Your notes</h1>


    <% @posts.each do |post| %>
      
      <% if post.user  == current_user %>
      
        <div class="big">
        <p style="font-size:25px;"><%= post.title %></p>       <p> <%= sanitize post.body %></p>
        </div>
        <div class="pad">
        <span class="ema1"><%= link_to 'Show', post %></span>&nbsp;&nbsp;
        <span class="ema1"><%= link_to 'Edit', edit_post_path(post) %></span>&nbsp;&nbsp;
        <span class="ema1"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>
      <% end %>
    <br><br>
    <% end %>
  

<% end %>
<br>
<% if current_user %>
<span class="ema1"><span style="color:#FFF5BD;"><%= link_to 'New Post', new_post_path %></span></span>
<% end %>

</div>
</body>
</html>