<!DOCTYPE html>
<html>
<head>
  <title>Note</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "shreya.css" %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="color:#91ABFF;"><p id="notice"><%= notice %></p>

<p>
 <p style="padding-left:10px;"> <strong>Title:</strong></p>
  <div class="big">
        <p style="font-size:25px;">
  <%= @post.title %></p>
</p>
</div>
<br><br>
<p>
  <p style="padding-left:10px;"><strong>Body:</strong></p>
    <div class="big">
        <p style="font-size:25px;">

  <%= sanitize @post.body %>
</p>
</div>
</p>

<span class="ema"><%= link_to 'Edit', edit_post_path(@post) %></span>&nbsp;&nbsp;&nbsp;
<span class="ema"><%= link_to 'Back', posts_path %></span>
</body>
</html>
